@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-700;
  @apply text-xl;
}

:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

em {
  @apply text-pink-500;
}

svg {
  color: currentColor;
}

.link {
  display: inline-block;
  background-image: linear-gradient(#d1fae5, #d1fae5);
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: background 0.35s;
}

.link:hover {
  background-size: 100% 100%;
}

.logo {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
}

.nav-list li:not(:first-child) {
  @apply ml-4;
}

.nav-list li a.active {
  box-shadow: inset 0 -0.125em 0 0 #fff,
    inset 0 -0.375em 0 0 rgb(165 243 252 / 80%);
}

.icons-group > * {
  @apply mr-4;
}

.post-title svg {
  display: inline-block;
  transition: margin 0.35s;
}

.post-title:hover svg {
  @apply ml-2;
}

::selection {
  color: #fff;
  background: #db2777;
}

/* FOOTER */
.footer .icons svg.inline {
  display: none;
}

/* VIDEO */
.video-wrapper {
  height: auto !important;
}

/**
 * Post Styles
 */
.flow > * + * {
  margin-top: 1em;
}

.post,
.portfolio {
  @apply leading-7;
}
.post h2,
.portfolio h2 {
  @apply text-4xl;
  @apply font-extrabold;
}
.post h3,
.portfolio h3 {
  @apply text-3xl;
  @apply font-bold;
}
.post h4,
.portfolio h4 {
  @apply text-2xl;
  @apply font-semibold;
}
.post h5,
.portfolio h5 {
  @apply text-2xl;
  @apply font-medium;
}
.post h6,
.portfolio h6 {
  @apply text-xl;
  @apply font-medium;
}

.post img {
  max-width: min(55rem, 100%);
}

.post figcaption {
  @apply text-base;
  @apply italic;
  @apply mt-4;
}

.post blockquote {
  @apply font-mono;
  @apply pl-7;
  @apply border-l-4;
  @apply border-solid;
}

.post p code,
.post li code,
.portfolio p code,
.portfolio li code {
  @apply bg-pink-100;
  @apply px-2;
  @apply py-1;
  @apply rounded;
  @apply text-base;
}

.post ul,
.post ol,
.portfolio ul,
.portfolio ol {
  @apply list-inside;
  @apply mx-8;
}
.post ul,
.portfolio ul {
  @apply list-disc;
}
.post ol,
.portfolio ol {
  @apply list-decimal;
}

.post ul li,
.portfolio ul li {
  @apply mb-2;
}

.post time {
  @apply mt-4;
  @apply block;
}

.post :is(h2, h3),
.portfolio :is(h2) {
  @apply mt-16;
}

.portfolio :is(h3) {
  @apply mt-8;
}

.post :is(h2, h3) + *,
.portfolio :is(h2, h3) + * {
  @apply mt-4;
}

.post figure,
.post figure + *,
.post pre,
.post pre + * {
  @apply mt-16;
}
